
h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.artist-title {
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
}

.menuCustom {
  background-color: #c7d8c9;
}

.logo {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

#header {
  padding-top: 18%;
}

.mainHeader {
  background-image: url("./img/flowers.jpg");
  padding-bottom: 22%;
}

.jumbo {
  text-align: center;
}

.jumbo h1 {
  margin-top: 20%;
  margin-bottom: 10%;
}

.jumbo p {
  margin-bottom: 10%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}

.deetsTitle {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.deetsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.deetsText {
  margin: 10% 10% 15% 10%;
}

.garageImg {
  width: 75%;
}

.address {
  line-height: 0.2rem;
}

#artists {
  background-color: #f7ecb6;
  padding-top: 3%;
  padding-bottom: 5%;
}

.artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5% 5% 10% 5%;
}

.artists p {
  text-align: justify;
  margin-left: 8%;
  margin-right: 8%;
}

.artist-img {
  width: 80%;
  margin-bottom: 5%;
}

.rsvp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5% 5% 10% 5%;
}

.btn {
  margin-top: 7%;
  margin-bottom: 5%;
  background-color: #e6c00c;
  font-weight: 600;
  box-shadow: 2px 4px 4px 0.5px rgba(0,0,0,0.5);
}

.nameText {
  margin-bottom: 0;
}

.guestText {
  margin-bottom: 0;
  margin-top: 5%;
}

.rsvpInput {
  margin-top: 2%;
  padding: 1% 1% 1% 2%;
  border: 1px solid #808080;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 1310px) {

  .mainHeader {
     padding-top: 0;
     background-color: #fff;
  }

  .jumbo p {
    margin: 0;
  }
}

@media (min-width: 768px) {

  #header {
    padding-top: 10%;
  }

  .mainHeader {
    padding-bottom: 23%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbo {
    width: 45%;
  }

  .jumbo h1 {
    margin-top: 0;
    margin-bottom: 7%;
  }

  #deets {
    margin: 0;
    padding-top: 0;
  }

  .deetsContainer {
    flex-direction: row;
    margin: 0 5% 11% 5%;
  }

  .deetsTitle {
    margin-top: 8%;
  }

  .deetsText {
    width: 75%;
    margin: 0 0 0 3%;
  }

  .garageImg {
    width: 100%;
  }

  #artists {
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .artists {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 8%;
  }

  .artist-title {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    padding-top: 0;
  }

  .artists p {
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
  }

  .artist-img {
    margin-bottom: 0;
  }

  .liza .artist-img {
    order: 3;
  }

  .liza .artist-text {
    order: 1;
  }

  .liza .artist-title {
    order: 2;
  }

  .rsvp {
    margin-left: 30%;
    margin-right: 30%;
  }
}
